<%- include("header")%>
<div class="row products-section">
  <span class="status"><%= status %></span>
  <% let pid,path %>
  <% for (var a in data ) {
      pid=data[a].p_id;
      path="../uploads/";
      if(data[a].image != "") {
        path+=data[a].image;
      } else {
        path+="default.jpg";
      }
  %>
  <div class="col-md-3 product">
    <img src=<%= path%> name="product-image" width="100" height="100">
    <h3><%= data[a].name %><br><span class="desc"><%= data[a].info%></span></h3>
    <p>Manufacture: <%= data[a].Company %></p>
    <p>Category: <%= data[a].category %></p>
    <p>Price: <%= data[a].price %></p>
    <%
    var qrCode;
    if(data[a].code==0) {
      qrCode ="qr_code_api_url";
      %>
        <p>QR Code: <img src=<%= qrCode%> width='100' height='100' /></p>
      <%
    } else {
      qrCode=new Buffer(data[a].qrcode,'binary').toString('base64');
      %>
      <p>QR Code: <img src="data:image/png;base64,<%= qrCode%>" width='100' height='100' /></p>
      <%
    }
    %>
    <p> Upload Picture </p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="hidden" name="pid" value=<%= pid %>>
      <input type="file" name="picture" />
      <input type="submit">
    </form>
  </div>
  <% } %>
</div>
<%- include("footer")%>
